<h1>Questionnaires#new</h1>
<p>Find me in app/views/questionnaires/new.html.erb</p>
<%= form_for @questionnaire do |q|%>
	<%= q.text_field :firstname, placeholder: "First name" %>
	<%= q.text_field :surname, placeholder: "Surname" %>
	<%= q.text_field :surname, placeholder: "Surname" %>
	<%= q.text_field :country, placeholder: "Country" %>
	<%= q.text_field :city, placeholder: "City" %>
	<%= q.text_field :street, placeholder: "Street" %>
<%end%>

